/*
?-----------------------
Todo: Curso
?-----------------------
*/

.curso-main {
    margin-top: var(--height-header);
    height: auto;
    padding: 2rem;
    padding-top: 0px;
}

.curso-main .curso-lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 0;
    gap: 4rem;
    overflow: auto;
    position: relative;
    overflow-x: hidden;
    padding: 0;
}


.curso-main .curso-lista li {
    height: 100%;
}

.curso-main .curso-card {
    flex-shrink: 0;
    height: 400px;
    width: 800px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    gap: 2rem;
    position: relative;
    overflow: hidden;
    align-items: center;
    padding: 1rem 0;
    transform: translateX(-100%);
    opacity: 0;
    animation: slide-to-final 1s forwards;
    transition: border-bottom 0.4s;
    box-sizing: content-box;
}

/* .curso-main .curso-card:hover.curso-card img {
    transform: scale(1.1);
}
 */
.curso-main .curso-card:hover {
    border-bottom: 2px solid var(--dark-color);
    border-top: 2px solid var(--dark-color);
}

.curso-main .curso-card:hover .title-curso {
    color: white;
}

.curso-main .curso-card .portada {
    height: auto;
    aspect-ratio: 3 / 4;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    display: flex;
    align-items: center;
}

.curso-main .curso-card .portada img {
    height: auto;
    width: 100%;

    object-position: bottom;
    object-fit: contain;
    transition: transform 0.2s;
}

.curso-card .informacion {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.curso-main .title-curso {
    color: white;
    font-size: 1.8rem;
    margin: 0;
    display: flex;
    align-items: end;
    font-family: var(--font-subtitle);
}

.curso-card .descripcion {
    color: white;
    font-size: 1rem;
    line-height: 1.4rem;
}

.curso-main .precio {
    display: flex;
    justify-content: start;
    align-items: end;
    gap: 5px;
    align-items: center;
    padding: 5px 10px;
    transition: transform 0.3s;
    display: none;
}

.curso-main .precio-value {
    color: white;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    display: grid;
    place-items: end center;
}

.curso-main .precio-anterior {
    color: white;
    opacity: 70%;
    font-size: 16px;
    display: grid;
    place-items: center end;
    text-decoration: line-through;
}

.curso-main .precio-descuento {
    color: #12b76a;
    font-size: 15px;
    display: grid;
    place-items: center start;
}

.curso-main .href-cursos {
    grid-row: 4;
    width: 300px;
    background-color: var(--accent-color);
    color: white;
}

.curso-main .href-cursos:hover {
    background-color: white;
    color: var(--accent-color);
}

.curso-main .more-info {
    height: unset;
}

/* ? Reglas Horizontal mas pequeña */

@media only screen and (max-width: 400px) {
    .curso-main {
        margin-top: var(--height-header-2);
        height: auto;
        padding: 0rem;
    }

    .curso-main .curso-lista {
        gap: 100px;
    }

    .curso-card {
        height: calc(95vh - var(--height-header-2)) !important;
        width: 90vw !important;
        display: grid !important;
        grid-template-columns: 1fr !important;
        grid-template-rows: auto 1fr !important;
        gap: 1rem !important;
        padding: 0.75rem !important;
    }

    .curso-card .portada {
        width: 100%;
        height: auto;
        aspect-ratio: 3 / 4;
        grid-row: 1;
        overflow: hidden;
        background-position: top;
    }

    .curso-card .portada img {
        width: 100%;
        height: auto;
        aspect-ratio: 9 / 16;
        object-fit: contain;
    }

    .curso-card .informacion {
        height: 100% !important;
        grid-template-rows: auto 1fr auto !important;
        grid-row: 2;
    }


}


@media only screen and (max-height: 400px) {
    .curso-main {
        margin-top: var(--height-header-2);
        height: auto;
        padding: 0rem;
    }

    .curso-main .curso-lista {
        gap: 100px;
    }

    .curso-card {
        height: calc(90vh - var(--height-header-2)) !important;
        width: 90vw !important;
        display: grid !important;
        grid-template-columns: 1fr 2fr !important;
        grid-template-rows: 1fr !important;
        gap: 1rem !important;
        padding: 0.75rem !important;
    }

    .curso-card .informacion {
        height: 100% !important;
        grid-template-rows: auto 1fr 30px !important;
    }

}